# APEX STATS Dataset
Prepared by Andy Qui Le

## Source Attribution

Author: Data Copyright @ 2021 by Opendata.maryland.gov

Title: Number of Cancer Cases for All Cancer Sites by Jurisdiction, Gender, and Race, Maryland 2009

Source: <a href="https://catalog.data.gov/dataset/number-of-cancer-cases-for-all-cancer-sites-by-jurisdiction-gender-and-race-maryland-2009">Data.gov Data Catalog</a>

License: Public Domain

Changes: Data have been adapted for APEX STATS by Andy Qui Le

## Description of the Original Data

Andrea Bankoski recorded the number of cancer cases grouped by gender and race. The total column includes cases reported as transexual, hermaphrodites, and unknown gender. The dataset is provided by Maryland Cancer Registry, and is under the jurisdiction of the state of Maryland.

## Description of the Example

Access this example using the file `example.csv`.

The example file is the original data, with removal of columns with missing data.

The unit of analysis (each row) is a county record of cancer cases.

The following variables are included:

Y: quality   
X: Total   
X1: Males   
X2: Females   
X3: Whites

The secondary file, `example2.csv`, includes columns with missing data from other categories.
 
The following variables are included:

Y: quality   
X: Total   
X1: Males   
X2: Females   
X3: Whites  
X4: Blacks  
X5: Other Race  
X6: Unknown Race

## Discipline(s) Represented

* Business
* Life science
* Health science

## Dataset Preview

In [1]:
#@title Preview Code
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/vectrlab/apex-python-datasets/main/cancer-cases/example.csv")
data.head(5)

                  Y      X     X1     X2     X3
0          Maryland  26800  13346  13413  18912
1          Allegany    518    254    263    503
2      Anne Arundel   2589   1342   1241   2204
3    Baltimore City   3048   1512   1533   1094
4  Baltimore County   4369   2081   2285   3502