# APEX STATS Dataset
Prepared by Andy Qui Le

## Source Attribution

Author: Petra Isenberg, Pierre Dragicevic, and Yvonne Jansen

Title: Cars

Source: <a href="https://perso.telecom-paristech.fr/eagan/class/igr204/datasets">James Eagan's Project Datasets</a>

License: Creative Commons Attribution-ShareAlike 3.0

Changes: Data have been adapted for APEX STATS by Andy Qui Le; columns have been renamed and/or removed

## Description of the Original Data

Authors collect quantitative information, such as MPG and horsepower, about 400 different car brands. The data are available on James Eagan's datasets website.

## Description of the Example

Access this example using the file `example.csv`.

The example file is created using the original data, with columns being reorganized and renamed.

The unit of analysis (each row) is an instance of a car brand.

The following variables are included:

y: MPG (miles per gallon)  
x: Horsepower  
x1: Weight  
x2: Acceleration  
x3: Cylinders  
x4: Displacement   
x5: Car   
x6: Model    
x7: Origin

No data were missing in the original dataset.

## Discipline(s) Represented

* Business
* Physical Science
* Education

## Dataset Preview

In [1]:
#@title Preview Code
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/vectrlab/apex-stats-datasets/main/cars/example.csv")
data.head(5)

      y      x      x1    x2  x3     x4                         x5  x6  x7
0  18.0  130.0  3504.0  12.0   8  307.0  Chevrolet Chevelle Malibu  70  US
1  15.0  165.0  3693.0  11.5   8  350.0          Buick Skylark 320  70  US
2  18.0  150.0  3436.0  11.0   8  318.0         Plymouth Satellite  70  US
3  16.0  150.0  3433.0  12.0   8  304.0              AMC Rebel SST  70  US
4  17.0  140.0  3449.0  10.5   8  302.0                Ford Torino  70  US

## Exploratory Analyses (untested)

* Investigate possible dependent or independent relationships between quantitative variables
* Explore bivariate relationships between quantitative variables

## Potential Activity Starters

* Is there some sort of relationship between horsepower and acceleration? Is it a linear relationship?
* What factors predict MPG for a car brand?