<a href="https://colab.research.google.com/github/vectrlab/python-stats/blob/main/datasets/healthnutritionandpopulation/guide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# APEX STATS Dataset: FIFA 19
Prepared by David Schuster

## Source Attribution

Author: Data Copyright &copy; 2019 by Karan Gadiya

Title: FIFA 19 complete player dataset

Source: <a href="https://www.kaggle.com/karangadiya/fifa19">Kaggle</a>

License: Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)

Changes: Data have been adapted for APEX STATS by David Schuster; columns have been removed and renamed.

## Description of the Original Data

The data file lists attributes for every player in the video game FIFA 19.

## Description of the Example

Access this example using the file `example.csv`.

The example file is a subset of the original data. Only player name, age, club, wage, position, jersey number, heading accuracy, dribbling skill, agility, and shot power are included. 

The unit of analysis (each row) is a player. 

The following variables are included:

Y: Wage in thousands of Euros  
X: Age in years  
X1: HeadingAccuracy  
X2: Dribbling  
X3: Agility  
X4: ShotPower  
X5: Jersey Number  
X6: Position (abbreviated)  
X7: Name  
X8: Club  

No data were missing in the original dataset.

## Discipline(s) Represented

- Business
- Health Science
- Kinesiology

## Dataset Preview

In [1]:
#@title Preview Code
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/vectrlab/apex-python-datasets/main/fifa19/example.csv")
data.head(5)

,Y,X,X1,X2,X3,X4,X5,X6,X7,X8
0,565,31,70.0,97.0,91.0,85.0,10.0,RF,L. Messi,FC Barcelona
1,405,33,89.0,88.0,87.0,95.0,7.0,ST,Cristiano Ronaldo,Juventus
2,290,26,62.0,96.0,96.0,80.0,10.0,LW,Neymar Jr,Paris Saint-Germain
3,260,27,21.0,18.0,60.0,31.0,1.0,GK,De Gea,Manchester United
4,355,27,55.0,86.0,79.0,91.0,7.0,RCM,K. De Bruyne,Manchester City

## Exploratory Analyses (untested)

- Bivariate relationships among the quantitative variables: age, salary, player ratings

## Potential Activity Starters

- What factors predict player salary?
- How do the shapes of the distributions differ for different attributes?
- Is there a relationship between age and player ratings? Is that relationship linear?