# APEX STATS Dataset
Prepared by Andy Qui Le

## Source Attribution

Author: Data Copyright Â© 2013 by Brett Lantz   
Maintainer: Miri Choi    
Title: Medical Insurance Dataset   
Source: <a href="https://www.kaggle.com/mirichoi0218/insurance">Kaggle</a>   
License: Database Contents   
Changes: Data have been adapted for APEX STATS by Andy Qui Le; columns have been renamed.

## Description of the Original Data

The data file lists information about individuals along with their medical insurance cost. The data are available on Kaggle.

## Description of the Example

Access this example using the file `example.csv`.

The example file is the original data, with columns being renamed.

The unit of analysis (each row) is a record about an individual and their medical insurance cost.

The following variables are included:

y: charges   
x: age   
x1: sex   
x2: bmi   
x3: children  
x4: smoker   
x5: region  

No data were missing in the original dataset.

## Discipline(s) Represented

* Business
* Social Science
* Health Science
* Healthcare Policy

## Dataset Preview

In [1]:
#@title Setup Example Data: Medical Insurance

# Import library
import pandas as pd

# Read data file: Medical Insurance
data = pd.read_csv('https://raw.githubusercontent.com/vectrlab/apex-stats-datasets/main/insurance/example.csv')

# Preview data
data.head()

             y   x      x1      x2  x3   x4         x5
0  16884.92400  19  female  27.900   0  yes  southwest
1   1725.55230  18    male  33.770   1   no  southeast
2   4449.46200  28    male  33.000   3   no  southeast
3  21984.47061  33    male  22.705   0   no  northwest
4   3866.85520  32    male  28.880   0   no  northwest

## Exploratory Analyses (untested)

* Determine if quantitative variables are independent
* Explore bivariate relationships between quantitative variables

## Potential Activity Starters

* Do individuals with a history of smoking have higher insurance premium?
* Do male and female individuals that have similar background (nonsmoker and no children) have similar insurance premiums?
* Does geography affect the insurance premium that an individual has to pay?