# APEX STATS Dataset
Prepared by Andy Qui Le

## Source Attribution

Author: Data Copyright Â© 2013 by Brett Lantz   
Maintainer: Miri Choi    
Title: Medical Insurance Dataset   
Source: <a href="https://www.kaggle.com/mirichoi0218/insurance">Kaggle</a>   
License: Database Contents   
Changes: Data have been adapted for APEX STATS by Andy Qui Le; columns have been renamed.

## Description of the Original Data

The data file lists information about individuals along with their medical insurance cost. The data are available on Kaggle.

## Description of the Example

Access this example using the file `example.csv`.

The example file is the original data, with columns being renamed.

The unit of analysis (each row) is a record about an individual and their medical insurance cost.

The following variables are included:

Y: charges   
X: age   
X1: sex   
X2: bmi   
X3: children  
X4: smoker   
X5: region  

No data were missing in the original dataset.

## Discipline(s) Represented

* Business
* Social Science
* Health Science
* Healthcare Policy

## Dataset Preview

In [1]:
#@title Preview Code
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/vectrlab/apex-python-datasets/main/insurance/example.csv")
data.head(5)

    X      X1      X2  X3   X4         X5            Y
0  19  female  27.900   0  yes  southwest  16884.92400
1  18    male  33.770   1   no  southeast   1725.55230
2  28    male  33.000   3   no  southeast   4449.46200
3  33    male  22.705   0   no  northwest  21984.47061
4  32    male  28.880   0   no  northwest   3866.85520

## Exploratory Analyses

## Potential Activity Starters