# APEX STATS Dataset
Prepared by Andy Qui Le

## Source Attribution

Author: Justinas Cirtautas

Title: NBA Players

Source: <a href="https://www.kaggle.com/datasets/justinas/nba-players-data?select=all_seasons.csv">Kaggle</a>

License: Public Domain

Changes: Data have been adapted for APEX STATS by Andy Qui Le; columns have been renamed and/or removed

## Description of the Original Data

Author collects data about each basketball player from the NBA [website](https://www.nba.com/stats/). The data are available on Kaggle.

## Description of the Example

Access this example using the file `example.csv`.

The example file is created using the original data, with columns being renamed and, in some cases, being removed.

The unit of analysis (each row) is an NBA player.

The following variables are included:

y: net_rating (team's point differential per 100 possessions while player is on the floor)  
x: gp (games played throughout the season)  
x1: pts (average number of points scored)  
x2: reb (average number of rebounds grabbed)  
x3: ast (average number of assists distributed)  
x4: oreb_pct (percentage of available offensive rebounds the player grabbed while on the floor)   
x5: dreb_pct (percentage of available defensive rebounds the player grabbed while on the floor)    
x6: player_height   
x7: player_weight   
x8: age   
x9: player_name   
x10: team_abbreviation   

No data were missing in the original dataset.

## Discipline(s) Represented

* Sports Analytics
* Business
* Health Science
* Kinesiology

## Dataset Preview

In [ ]:
#@title Setup Example Data: NBA Players

# Import library
import pandas as pd

# Read data file: NBA Players
data = pd.read_csv('https://raw.githubusercontent.com/vectrlab/apex-stats-datasets/main/nba-players/example.csv')

# Preview data
data.head()

,y,x,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,6.2,71,4.8,4.5,0.5,0.127,0.182,213.36,106.59412,22.0,Travis Knight,LAL
1,-15.1,6,0.3,0.8,0.0,0.143,0.267,210.82,106.59412,27.0,Matt Fish,MIA
2,0.9,71,4.5,1.6,0.9,0.016,0.115,208.28,106.59412,30.0,Matt Bullard,HOU
3,-9.0,74,7.8,4.4,1.4,0.083,0.152,210.82,111.13004,29.0,Marty Conlon,BOS
4,-14.5,42,3.7,1.6,0.5,0.109,0.118,205.74,106.59412,22.0,Martin Muursepp,DAL

## Exploratory Analyses (untested)

* Bivariate relationships between quantitative variables
* Investigate possible dependent or independent relationships between quantitative variables
* Explore changes in player's age, height, weight and other variables in each decade

## Potential Activity Starters

* Compare and contrast shapes of distributions for all variables
* Is there a relationship between player's weight and number of rebounds? Is it a linear relationship?
* What factors predict net rating of a player?