# APEX STATS Dataset
Prepared by Andy Qui Le

## Source Attribution

Author: Data Copyright © 2017 by Yueming   
Title: IMBD Movie Dataset   
Source: <a href="https://www.kaggle.com/carolzhangdc/imdb-5000-movie-dataset">Kaggle</a>   
License: Database Contents   
Changes: Data have been adapted for APEX STATS by Andy Qui Le; columns have been removed and renamed.

## Description of the Original Data

The data file lists information about movies
and their attributes, such as budget and gross. The data are available on Kaggle.

## Description of the Example

Access this example using the file `example.csv`.

The example file is a modified version of the original data, with columns being removed and renamed.

The unit of analysis (each row) is a record about an individual and their medical insurance cost. Many records contain NaN values and are also removed.

The following variables are included:

y: imbd_score   
x: gross   
x1: budget   
x2: duration   
x3: num_critic_for_reviews  
x4: num_user_for_reviews   
x5: movie_facebook_likes   
x6: director_name    
x7: genres    
x8: movie_title

## Discipline(s) Represented

* Business
* Economics
* Information technology

## Dataset Preview

In [1]:
#@title Preview Code
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/vectrlab/apex-python-datasets/main/movies/example.csv")
data.head(5)

,y,x,x1,x2,x3,x4,x5,x6,x7,x8
0,7.9,760505847,237000000,178,723,3054,33000,James Cameron,Action|Adventure|Fantasy|Sci-Fi,Avatar
1,7.1,309404152,300000000,169,302,1238,0,Gore Verbinski,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End
2,6.8,200074175,245000000,148,602,994,85000,Sam Mendes,Action|Adventure|Thriller,Spectre
3,8.5,448130642,250000000,164,813,2701,164000,Christopher Nolan,Action|Thriller,The Dark Knight Rises
4,6.6,73058679,263700000,132,462,738,24000,Andrew Stanton,Action|Adventure|Sci-Fi,John Carter

## Exploratory Analyses (untested)

* Bivariate relationships among quantitative variables: budget, gross, imbd_score, movie_facebook_likes

## Potential Activity Starters

* What factors predict imbd_score?
* Is there a relationship between budget and gross? Is that relationship linear?
* How do the shapes of the distributions for available attributes compare and contrast?