<a href="https://colab.research.google.com/github/vectrlab/apex-stats-datasets/blob/main/connecticut-housing/guide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# APEX STATS Dataset 


Prepared by Andy Qui Le

Additions by David Schuster

## Source Attribution

Author: Data Copyright &copy; 2021 by Data.ct.gov, All Rights Reserved

Title: Monthly Sale Price of Single Family Homes in Connecticut

Source: <a href="https://catalog.data.gov/dataset/monthly-sale-price-of-single-family-homes-in-ct">Data.gov Data Catalog</a>

License: Public Domain

Changes: Data have been adapted for APEX STATS by Andy Qui Le

## Description of the Original Data

Data.ct.gov collected median and average sale prices of single homes from counties in Connecticut. The data are reported from Data.gov source. These data display the varied sale prices from month to month in the state of Connecticut.

## Description of the Example

Access this example using the file `example.csv`.

The example file is a subset of the original data. Only county, median sale price, and average sale price are included.

The unit of analysis (each row) is a county.

The following variables are included:

y: the name of the county    
x: the median sale price   
x1: the average sale price 
 
x2: date measured

The secondary file, `example2.csv`, provides similar data with the addition of date when each unit is recorded. In this file, data for date is of datetime object, different from its original data.

## Discipline(s) Represented



* Business
* Economics
* Social Science
* Political Science

## Dataset Preview

In [1]:
#@title Preview Code
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/vectrlab/apex-stats-datasets/main/connecticut-housing/example.csv")
data.head(5)

           y          x         x1      x2
0  Fairfield  369587.11  607031.57  1/1/01
1  Fairfield  351716.13  612695.88  2/1/01
2  Fairfield  375670.85  581427.50  3/1/01
3  Fairfield  372628.98  579640.90  4/1/01
4  Fairfield  401488.72  576070.59  5/1/01

## Exploratory Analyses (untested)

* Explore bivariate relationship between median sale price and average sale price

## Potential Activity Starter

* Investigate variability in sale prices
* Quantify and interpret variability in sale prices and discuss its implication